<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container w-50 mt-3">
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand">Update User</a>
        </div>
      </nav>

      <form method="POST" action="/users/update/<%= users.id %>" class="mt-4">
        <label for="username" class="form-label">Username</label>
        <br />
        <input
          type="text"
          name="username"
          value="<%= users.username %>"
          class="form-control"
        />
        <br />

        <label for="password" class="form-label">Password</label>
        <br />
        <input
          type="password"
          name="password"
          value="<%= users.password %>"
          class="form-control"
        />
        <br />

        <button type="submit" class="btn-sm btn-primary mb-3">Submit</button>
      </form>
    </div>
  </body>
</html>
